analyticsenv/
C:\Users\USUARIO\Documents\pythonProyecto\data\qc_economy-and-growth_per.csv
C:\Users\USUARIO\Documents\pythonProyecto\data\qc_external-debt_per.csv
C:\Users\USUARIO\Documents\pythonProyecto\data\qc_financial-sector_per.csv
C:\Users\USUARIO\Documents\pythonProyecto\data\qc_indicators_per.csv
